$main-color: rgb(246, 96, 211);
$grey-color: rgb(167, 167, 167);
$green-color: #16dcee;

@function light($color: grey, $size: 5px) {

    $main: #ff17f7;
    $grey: $grey-color;
    $green: $green-color;

    $result: 
    0 0 $size #fff,
    0 0 $size*2 #fff,
    0 0 $size*3 $grey,
    0 0 $size*4 $grey,
    0 0 $size*5 $grey,
    0 0 $size*6 $grey,
    0 0 $size*7 $grey,
    ;

    @if $color == main {

        $result: 
        0 0 $size #fff,
        0 0 $size*2 #fff,
        0 0 $size*3 $main,
        0 0 $size*4 $main,
        0 0 $size*5 $main,
        0 0 $size*6 $main,
        0 0 $size*7 $main,
        ;
    }

    @if $color == green {

        $result: 
        0 0 $size #fff,
        0 0 $size*2 #fff,
        0 0 $size*3 $green,
        0 0 $size*4 $green,
        0 0 $size*5 $green,
        0 0 $size*6 $green,
        0 0 $size*7 $green,
        ;
    }

    @return $result;

}